# Eclipse stuff
/.classpath
/.project
/.settings
/bin/
/build.xml

# maven
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/lib
/manifest.mf

# Mac filesystem dust
/.DS_Store

# IntelliJ
/.idea

ChatGuard.iml